.container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.inputContainer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  border: none;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  padding: 20px 40px;
  outline: none;
  text-align: center;
  width: 50%;
  font-size: 4vw;
  background-color: #222;
}

.inputBox::-webkit-inner-spin-button,
.inputBox::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputBox {
  -moz-appearance: textfield;
}
.valContainer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.val {
  width: 70%;
  color: #fff;
  overflow: scroll;
  scrollbar-width: none;
}

.val::-webkit-scrollbar {
  display: none;
}

.circleContainer {
  width: 90%;
  height: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
}

.filled {
  background-color: #fff;
}

@media (max-width: 768px) {
  .circleContainer {
    gap: 15px;
  }

  .circle {
    width: 30px;
    height: 30px;
  }
}
